fastapi
uvicorn
python-multipart
jinja2
requests
torch
transformers
langchain
langchain-community
huggingface-hub
chromadb
sentence-transformers
python-dotenv
langchain-huggingface
Jinja2
pandas
langchain-chroma
hf_xet
redis
fastapi-cache[redis]==0.1.1
